<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <servlet>
  <servlet-name>bb</servlet-name>
  <servlet-class>SnapPackage.LetsSnap</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>bb</servlet-name>
  <url-pattern>/gar</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>cc</servlet-name>
  <servlet-class>SnapPackage.SnapLogin</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>cc</servlet-name>
  <url-pattern>/har</url-pattern>
  </servlet-mapping>
</web-app>